p,ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

body {
    background-color: #113f54;
    margin: 2%;
    padding: 2%;
}

div {
    margin-top: 2%;
    background-color: #c9d2d6;
    padding: 2%;
}


.pre-text {
    color: darkgoldenrod;
    font-size: x-large;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7fffbf;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: steelblue;
    text-align: left;
}

strong {
    color: teal;
}

img {
    width: 10%; height: 10%;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    border-radius: 5px;
    border: 2px solid teal;
}

.green {
    background-color:green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .red {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }  